Options +SymLinksIfOwnerMatch
RewriteEngine On

# .htaccess file deffence
<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>

#С помощью этого простого сниппета кода можно добиться, чтобы запросы файла переправлялись в корневой каталог.
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*index\.php\ HTTP/
#RewriteRule ^(.*)index\.php$ /$1 [R=301,L]

FallbackResource route.php
